/*
  SASS Files - This is automatically compiled into css using the scss npm script in package.json each time this file is changed.
*/

$section_background_color: rgb(245, 245, 245);
$site_accent_color: #6eceb2;
$site_dark_accent_color: #3d884d;
