/*
  SASS Files - This is automatically compiled into css using the scss npm script in package.json each time this file is changed.
*/
.audio-file-shop {
  background-color: whitesmoke;
  border: 1px solid;
  border-color: #d9d9d9; }
  .audio-file-shop table {
    width: 100%; }
  .audio-file-shop .category-row {
    border-top: 2px solid;
    border-bottom: 2px solid;
    border-color: #b9b9b9; }
  .audio-file-shop .song-row {
    background-color: white;
    border-top: 1px solid;
    border-bottom: 1px solid;
    border-color: #d9d9d9;
    height: 30px; }
    .audio-file-shop .song-row img {
      height: 20px;
      width: 20px;
      margin: 5px; }
    .audio-file-shop .song-row .song-title {
      text-align: left;
      width: 100%;
      font-weight: 100; }
    .audio-file-shop .song-row .shopping-selection {
      white-space: nowrap; }
    .audio-file-shop .song-row .shopping-selection select {
      margin-left: 20px; }
    .audio-file-shop .song-row .shopping-selection label {
      margin-right: 20px;
      margin-top: auto;
      margin-bottom: auto;
      color: #3d884d; }

.song-row.playing-true {
  background-color: rgba(0, 0, 0, 0.1); }

.audio-player .progress-bar-wrapper {
  background-color: rgba(0, 0, 0, 0.2); }

.audio-player .progress-bar {
  background-color: red;
  height: 5px; }

.audio-player .album-art {
  height: 150px;
  width: 150px;
  background-color: rgba(0, 0, 0, 0.2); }
