/*
  SASS Files - This is automatically compiled into css using the scss npm script in package.json each time this file is changed.
*/
.audio-file-shop {
  background-color: whitesmoke;
  border: 1px solid;
  border-color: #d9d9d9; }
  .audio-file-shop table {
    width: 100%; }
  .audio-file-shop .category-row {
    border-bottom: 2px solid;
    border-color: #b9b9b9; }
  .audio-file-shop .song-row {
    background-color: white;
    border-top: 1px solid;
    border-bottom: 1px solid;
    border-color: #d9d9d9;
    height: 30px; }
    .audio-file-shop .song-row img {
      height: 20px;
      width: 20px;
      margin: 5px; }
    .audio-file-shop .song-row .song-title {
      text-align: left;
      width: 100%;
      font-weight: 100; }
    .audio-file-shop .song-row .shopping-selection {
      white-space: nowrap; }
    .audio-file-shop .song-row .shopping-selection select {
      margin-left: 20px; }
    .audio-file-shop .song-row .shopping-selection label {
      margin-right: 20px;
      margin-top: auto;
      margin-bottom: auto;
      color: #3d884d; }

.song-row.playing-true {
  background-color: rgba(0, 0, 0, 0.1); }

.audio-player {
  position: relative;
  height: 162px;
  width: 100%;
  border-bottom: 1px solid;
  border-color: #b9b9b9; }
  .audio-player .audio-player-controls {
    position: relative;
    display: inline-block;
    width: calc(100% - 162px);
    padding: 6px 6px 6px 0px;
    height: 100%; }
    .audio-player .audio-player-controls .progress-bar-wrapper {
      background-color: rgba(0, 0, 0, 0.2); }
    .audio-player .audio-player-controls .progress-bar {
      background-color: red;
      height: 5px; }
    .audio-player .audio-player-controls .volume {
      position: absolute;
      right: 25px;
      bottom: 10px;
      width: 100px;
      height: 5px;
      /* The slider itself */
      /* Mouse-over effects */
      /* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */ }
      .audio-player .audio-player-controls .volume .fa-volume-down {
        position: absolute;
        left: 0;
        margin-top: -5px;
        color: #666;
        margin-left: -18px; }
      .audio-player .audio-player-controls .volume .fa-volume-up {
        position: absolute;
        right: 0;
        margin-top: -5px;
        color: #666;
        margin-right: -22px; }
      .audio-player .audio-player-controls .volume .slider {
        -webkit-appearance: none;
        /* Override default CSS styles */
        appearance: none;
        position: absolute;
        left: 0;
        margin: 0 auto;
        height: 100%;
        width: 100%;
        background: #555;
        border-radius: 15px; }
      .audio-player .audio-player-controls .volume .slider-min {
        position: absolute;
        left: 0;
        margin: 0 auto;
        height: 100%;
        width: 100%;
        background: #3d884d;
        border-radius: 15px; }
      .audio-player .audio-player-controls .volume .slider:hover {
        opacity: 1;
        /* Fully shown on mouse-over */ }
      .audio-player .audio-player-controls .volume .slider-min:hover {
        opacity: 1;
        /* Fully shown on mouse-over */ }
      .audio-player .audio-player-controls .volume .slider:focus {
        outline: none;
        /* Fully shown on mouse-over */ }
      .audio-player .audio-player-controls .volume .slider::-webkit-slider-thumb {
        -webkit-appearance: none;
        /* Override default look */
        appearance: none;
        position: relative;
        width: 20px;
        height: 20px;
        border-radius: 20px;
        background: #FFF;
        cursor: pointer;
        outline: none;
        z-index: 1; }
      .audio-player .audio-player-controls .volume .slider::-moz-range-thumb {
        position: relative;
        width: 20px;
        height: 20px;
        border-radius: 20px;
        background: #FFF;
        margin-left: -8px;
        margin-top: -8px;
        cursor: pointer;
        outline: none;
        z-index: 1; }
  .audio-player .album-art {
    height: 150px;
    width: 150px;
    overflow: hidden;
    display: inline-block;
    float: left;
    margin: 6px; }
    .audio-player .album-art img {
      width: auto;
      height: 100%; }

.waveform-wrapper {
  overflow: hidden;
  position: absolute;
  top: 30;
  left: 0;
  padding-right: 6px;
  width: 100%;
  padding-top: auto;
  padding-bottom: auto; }
